/*----------------------------header----------------------------------------------*/


.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
/*display: flex has divided the right and left side of the div*/
/*justify-content: space between to move the other div to the exactly right side*/

.logo {
    width: 100px;
}
/*squuezing the size of the logo*/

.navigation-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 22px;
    
}
/*display: flex to show items name horizontally*/
/*list style none because to remove the dots*/

.navigation-items > ul > li {
    padding: 10px;
    margin: 10px;
}

/*------------------restaurant card-----------------------------------------------------------------------*/

.res-card {
    width: 200px;
    padding: 5px;
    line-height: 15px;
    
    
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-img {
    width: 200px;
    height: 150px;
    
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}
/*---------------------------body--------------------------------------------------------------------*/
.search {
    padding: 10px;
}
/*display: flex has divided the right and left side of the div*/

